* {
    background-color: rgb(215, 228, 131);
}

button {
    background-color: cornflowerblue;
}
/*font-family: 'Nova Square', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Staatliches', cursive;*/